<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayside.npa.manager.dao.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.bayside.npa.manager.model.Manager" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from npa_usermanager
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="select" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from npa_usermanager
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from npa_usermanager
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bayside.npa.manager.model.Manager" >
    insert into npa_usermanager (id, username, password
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bayside.npa.manager.model.Manager" >
    insert into npa_usermanager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.bayside.npa.manager.model.Manager" >
    update npa_usermanager
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.bayside.npa.manager.model.Manager" >
    update npa_usermanager
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="loginManager" resultMap="BaseResultMap" parameterType="com.bayside.npa.manager.model.Manager">
  		select
			<include refid="Base_Column_List" />
			from npa_usermanager where 1=1
				<if test="id !=null">
					and ID = #{id,jdbcType=VARCHAR}
				</if>
				<if test="username != null">
					and username = #{username,jdbcType=VARCHAR}
				</if>
				<if test="password != null">
					and password = #{password,jdbcType=VARCHAR}
				</if>
  </select>
  
  
</mapper>